{{>head}}
{{>navbar}}

<div class="row">
    <div class="col-8">
        <h1>Red Ranger</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, corrupti ut. Eum rem veniam omnis voluptatum iusto. A, dicta accusantium animi qui quasi aut voluptate natus reiciendis quas ratione tempora?
        </p>
    </div>
    <div class="col-4">
        <img src="assets/img/RedRanger.jpg" class="img-thumbnail"> 
    </div>
</div>


{{>footer}}